
body,html{
    height:100% !important;
    width: 100%;
}

.sec2Text{
    text-align: justify;
}
.paddingB50{
    padding-bottom: 50px;
}
.paddingTB100{
    padding: 100px 0;
}
.sec3Text{
    color: black; !important;
    font-size: 18px;
    font-weight: bold;
}
.msg-box4-6{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#msg-box4-6:after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.mbr-table-md-up{
    position: relative;
    z-index: 5;
}
.sec3TextWidth{
    width: calc(100% - 30px);
    margin:0 auto;
    max-width: 800px;
    font-size: 20px;
}
.sec4Title{
    text-align: center;
    color:#232323;
    padding-top: 80px;
}
.sec4Text{
    width: calc(100% - 30px);
    margin:0 auto;
    max-width: 800px;
}

.sections{
    min-height: 100% !important;
}
.height100{
    height: 100%;
}
.section2bg{
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.homeBtn{
    z-index: 5;
}
.paddingT100{
    padding-top: 100px;
}
.brTT{
    position: relative;
    z-index: 5;
}

.minH{
    min-height:700px;
}
@media screen and (min-width:480px){
    #header2-1 .mbr-section-title,.pagesTitle {
        font-size: 30px !important;
    }
}
@media screen and (min-width:768px){
    #header2-1 .mbr-section-title ,.pagesTitle{
        font-size: 36px !important;
    }
}
@media screen and (min-width:992px){
    .sec3TextWidth{
        float: left;
    }
    #menu-0 .link {
        font-size: 12px;
    }
}

.artPCol{
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 10px !important;
    max-width: 800px;
    margin: 0 auto;
}
.pagesImg{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    height: auto;
    margin: 50px 0;
}


#menu-0 .link{
    font-size: medium;
}
.navbar-caption{
    font-size: large;
}
.mbr-plan-subtitle, .mbr-plan-price-desc {
    font-size: 20px;
    line-height: 1.79;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.mbr-plan {
    border: none;
}
.mbr-plan-header, .mbr-plan-body{
    background: none;
}
#Title-opinionsinstitut{
    font-size:40px;
    font-weight: 800;
    font-family: 'Montserrat';
}


.display-2{

    font-size: 30px ;
}
.text-xs-center{
    text-align: center;
}
@media (max-width: 767px) {
    .mbr-section-hero .mbr-section-title {
        font-size: 20px !important;
    }
}
p.artPCol{
    font-size: 18px ;
    color: black;
}
p.lead, .lead p {
    font-size: 18px;
    color: white;
}
.mbr-plan-subtitle, .mbr-plan-price-desc {
    color: white;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-family: Raleway;
}
#paragraph{
    color: white;
}
#black>p.o{
    color: white;
    font-size: 18px;
}